.main-friends-content {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-areas: 'main filters';
  .main-friends {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      'search'
      'friends';
    .search {
      grid-area: search;
      display: flex;
      align-items: center;
      background: #90caf9;
      border-radius: 5px;
      box-shadow: 2px 3px 6px #e0e0e0;

      &-icon {
        margin: 0 10px;
        cursor: pointer;
      }

      &-input {
        width: 100%;
        margin: 0 10px;
      }
    }
    .friends {
      grid-area: friends;
      margin-top: 20px;
      .post {
        margin-top: 10px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        box-shadow: 2px 3px 6px #e0e0e0;

        .user-image {
          display: block;
          height: 48px;
          width: 48px;
          position: relative;
          overflow: hidden;
          border: 0px solid black;
          border-radius: 50%;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 68px;
            max-height: 68px;
          }
        }

        background: #bbdefb;
        border-radius: 5px;
        a {
          display: block;
          height: 48px;
          width: 48px;
        }

        &-name {
          margin-left: 20px;
          h4 {
            font-size: 20px;
          }
        }
        &-btn {
          margin-left: auto;
        }
      }
    }
  }
  .filters {
    grid-area: filters;
  }
}

@media screen and (max-width: 780px) {
  .main-friends-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      'filters'
      'main';
    .main-friends {
      .friends {
        .post {
          &-name {
            margin-left: 10px;
            h4 {
              font-size: 14px;
            }
          }
          &-btn {
            button {
              height: 24px;
              width: 24px;
              margin-right: 10px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}
