.main {
  .content {
    display: flex;

    .status {
      padding: 0 15px;

      width: 100%;
    }

    .fileContainer {
      padding: 0;
      box-shadow: none;
    }
    .image {
      text-align: center;
      img {
        background-size: cover;
        display: block;
        height: 200px;
        width: 200px;
        border: 1px solid #69f0ae;
        margin-bottom: 10px;
      }
    }
    .info {
      flex-direction: column;

      .names {
        padding: 10px 15px;

        div {
          padding-right: 10px;
        }
      }

      .dls {
        padding: 15px;
        div {
          padding-right: 10px;
        }
      }
    }
  }
  .right {
    display: block;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 580px) {
  .main {
    .content {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .info {
        width: auto;
        .names {
          text-align: center;
        }
      }
      .dls {
        text-align: center;
      }
    }
  }
  .right {
    margin: 0 auto;
  }
}
