.main {
  .content {
    display: grid;
    grid-template-columns: 250px 1fr;

    .fileContainer {
      padding: 0;
      box-shadow: none;
    }
    .image {
      text-align: center;

      .user-image {
        display: block;
        height: 250px;
        width: 250px;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 400px;
          max-height: 400px;
          z-index: -10;
        }
      }
      .img-input {
        display: none;
      }
    }
    .info {
      background: #bbdefb;
      border-radius: 5px;
      margin-left: 20px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        'status'
        'names';

      .status {
        grid-area: status;
        padding: 10px;
      }

      .names {
        grid-area: names;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        .firstname {
          margin-right: 10px;
        }
      }

      .dls {
        padding: 15px;
        div {
          padding-right: 10px;
        }
      }
    }
  }
  .right {
    display: block;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 580px) {
  .main {
    .content {
      grid-template-columns: 1fr;
      .image {
        margin: 0 auto;
        margin-bottom: 20px;
      }
      .info {
        margin-left: 0;
      }
    }
  }
}
