.sidebar {
  position: fixed;
  right: 90px;
  top: 90px;
  width: 200px;
  padding: 20px;
  background: #bbdefb;
  border-radius: 10px;
  a {
    text-decoration: none;
    color: #616161;
  }
}
.open-list {
  width: 200px;
  padding-top: 20px;
}
