.main-search {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    'search'
    'posts';
  .search {
    box-shadow: 2px 3px 6px #e0e0e0;

    grid-area: search;
    display: flex;
    align-items: center;
    background: #90caf9;
    border-radius: 5px;
    &-icon {
      margin: 0 10px;
      cursor: pointer;
    }

    &-input {
      width: 100%;
      margin: 0 10px;
    }
  }

  .posts {
    margin-top: 20px;
  }
}
