.auth {
  margin: 0 10px;
  padding-top: 90px;
  min-height: calc(100vh - 100px);
  &-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .signup-image {
    height: 410px;
    width: 600px;
  }
  .login-image {
    height: 404px;
    width: 586px;
  }
}

@media screen and (max-width: 767px) {
  .auth {
    .signup-image,
    .login-image {
      display: none;
    }
    &-body {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 900px) {
  .auth {
    .signup-image,
    .login-image {
      margin-bottom: 20px;
    }
    &-body {
      flex-direction: column;
    }
  }
}
