html {
  overflow: hidden;
}
.signup {
  margin: 0 -10px;
  padding-top: 90px;
  height: calc(100vh - 100px);
  background: linear-gradient(45deg, #fff, #e3f2fd);
  &-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-image {
    height: 410px;
    width: 600px;
    background: url('../Icons/undraw_friendship_mni7.svg') center center
      no-repeat;
    background-size: cover;
  }

  &-forms {
    padding: 30px 20px;
    margin-right: 20px;
    background: #bbdefb;
    border: 1px solid #64b5f6;
    border-radius: 10px;
    h3 {
      font-size: 25px;
      text-align: center;
      line-height: 0;
      color: #616161;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;

    &-input {
      margin: 10px;
    }
    p {
      color: red;
      display: block;
      max-width: 200px;
    }
  }
}

@media screen and (max-width: 767px) {
  .signup {
    &-image {
      display: none;
    }
    &-body {
      justify-content: center;
    }

    &-forms {
      margin: 0;
    }
  }
}

@media screen and (max-width: 900px) {
  .signup {
    &-image {
      margin-bottom: 20px;
    }
    &-body {
      flex-direction: column;
    }
  }
}
